
#yada
{
	color: black;
	position: relative;
	align-content: justify;
}
.cl
{
	color: black;
	background-color: white;
	padding:20px;
	position: relative;
	text-align: center;
	margin-top: 550px;
	margin-bottom: 40px;
	box-shadow: 0 2px 5px hsla(0,0%,0%,.5),
	
		inset 0 1px 0 #ccc,	
		inset 1px 0 0 #aaa,
		inset 0 -1px 0 #ccc,
		inset -1px 0 0 #aaa,
			
		inset 0 2px 0 #c6c6c6,
		inset 2px 0 0 #a6a6a6,
		inset 0 -2px 0 #c6c6c6,
		inset -2px 0 0 #a6a6a6,
		
		inset 0 3px 0 #c0c0c0,
		inset 3px 0 0 #a0a0a0,
		inset 0 -3px 0 #c0c0c0,
		inset -3px 0 0 #a0a0a0,	
		
		inset 0 4px 0 #b9b9b9,
		inset 4px 0 0 #999,
		inset 0 -4px 0 #b9b9b9,
		inset -4px 0 0 #999,
		
		inset 0 5px 0 #b6b6b6,
		inset 5px 0 0 #969696,
		inset 0 -5px 0 #b6b6b6,
		inset -5px 0 0 #969696,
		
		inset 0 6px 0 #b0b0b0,
		inset 6px 0 0 #909090,
		inset 0 -6px 0 #b0b0b0,
		inset -6px 0 0 #909090,
		
		inset 0 7px 0 #a9a9a9,
		inset 7px 0 0 #898989,
		inset 0 -7px 0 #a9a9a9,
		inset -7px 0 0 #898989,
		
		inset 0 8px 0 #a6a6a6,
		inset 8px 0 0 #868686,
		inset 0 -8px 0 #a6a6a6,
		inset -8px 0 0 #868686,
		
		inset 0 9px 0 #a0a0a0,
		inset 9px 0 0 #808080,
		inset 0 -9px 0 #a0a0a0,
		inset -9px 0 0 #808080,
		
		inset 0 10px 0 #888,
		inset 10px 0 0 #666,
		inset 0 -10px 0 #888,
		inset -10px 0 0 #666,
		
		inset 0 0 10px 10px hsla(0,0%,0%,.4);
}
#img
{
	width: 80%;
	height:300px;
	margin-top: 10px;

}
h1
{
	align-content: center;
	text-align: center;
	color: black;
	
}
h3
{
	position: relative;
}
#img1
{
	width: 100%;
	height:100%;
	position: fixed;
	margin-left: -14px;
}
#im
{
	opacity: 0.3;
	margin-bottom: -600px;
	position: relative;
}
